* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* padding: 6rem; */
}


.profileContainer {
  
  width: 100%;
  height: 100vh;
  background-color: #c8ddfa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.8rem 0.5rem;

}

.profile {
  margin-top: -1rem;

  width: 55%;
  background-color: #4b71a6;
  color: white;
  height: 90vh;

  border-radius: 15px;
  padding: 0.2rem 0.1rem;


}
.profile .header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.profile .aside{
  
  display: grid;
  grid-template-columns: 18rem auto;
  grid-gap: 1rem;
  width: 100%;
  height: 94%;
  padding:1.1rem 0.2rem;
  text-align: center;
  align-items: center;

}

.profile .aside .profile-control{
  width: 100%;
  height: 100%;
  background-color: #274063;
  border-radius: 15px;
  padding: 1rem 0.2rem;
  position: relative;
  color: white;

}

.profile .aside .edit-profile{
  width: 100%;
  height: 100%;
  background-color: #274063;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: white;
}



.imageContainer {
  margin-top: -1.8rem;
  /* height: max-content; */
  margin: 0 auto;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-profile {
  margin-top: -1.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 1rem 2rem;
}
 div.img-profile img.image {
  width: 6rem;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
}

.blueCircle {
  width: 50px;
  height: 50px;
  background-color: #27b4e4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDiv {
  position: absolute;
  bottom: -1.8rem;
  right: 4.7rem;
  scale: 0.8;
}

.icon {
  color: #fff;
}

.profile-control .profile-info{
  width: 100%;
  height: 90%;
  border-radius: 15px;
  padding: 0.3rem 0.8rem;
  /* position: relative; */
  color: white;
  margin: 0 auto;
  /* display: none; */
  
}

.profile-control .profile-info .info-edit{
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.3rem 0.8rem;
  

}

.profile-control .profile-info .info-edit .info{
  display: flex;
  grid-gap: 0.3rem;
  width: 100%;
  margin: 0.2rem 02rem;
  padding: 0;
  height: 100%;
  color: white;
  position: relative;
  /* background-color: rgb(153, 255, 0); */

 


}
 div.profile-control div.profile-info div.info-edit div.info label.info-label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left:  2.7rem;
  top: -1rem;
  color: white;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #27b4e4;
}
 div.profile-control div.profile-info div.info-edit div.info span {

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0.8rem;
  top: 0.5rem;
  color: white;
  transform: translateX(-50%);
  font-size: 1rem;


  
  

}

form {
  position: absolute;

  top: 20rem;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 2.4rem;
} */

input {
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 23px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 0.001px solid #eee;
}

button {
  margin-top: 2rem;
  width: 80%;
  padding: 1.5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #27b4e4;
  color: whitesmoke;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

label {
  color: #ced5d7;
}

.blueName {
  color: #27b4e4;
  font-weight: 600;
}
.phone {
  color: rgba(0, 0, 0, 0.4);
  margin-left: 5rem;
}
